@use '../abstract/' as abs;

#searchArrowBtn {
    @include abs.resetInput();
    cursor: pointer;
    padding: 0.25em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.25em;
    margin: auto;
    height: 24px;
    width: 24px;
    transition: all 400ms ease-out;

    &:hover {
        right: 1em;
    }

    svg {
        scale: 1.5;
        transition: inherit;

        path {
            fill: abs.$black;
        }
    }
}