@use '../abstract/' as abs;

#searchCloseBtn {
    @include abs.resetInput();
    cursor: pointer;
    transition: all 400ms ease;
    padding: 0.5em;

    &:hover svg {
        transition: inherit;
        scale: 1.1;
    }
}