// fonts
$gt-regular: 'GT America Regular';
$gt-bold: 'GT America Bold';
$gt-bold-italic: 'GT America Italic';
$gt-weight: (
    gt-regular: 400,
    gt-bold: 700
);

$paragraph-size: 24px;
$nav-link-size-mobile: 20px;
$nav-link-size-desktop: 24px;
$footer-nav-link-size: 16px;
$search-text-size: 20px;
$link-size: 20px;
$copyright-text-size: 20px;
$heading-1-size-mobile: 40px;
$heading-1-size-tablet: 60px;
$heading-1-size-desktop: 80px;

// COLORS
$violet: #4c5fd5;
$pale-violet: #dadbf1;
$black: #000000;
$white: #ffffff;
$pale-white: #ffffff76;

// NAV BUTTON TRANSITION